 .screen-reader-text {
     border: 0;
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: inset(50%);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
     word-wrap: normal !important;
 }
 
 .screen-reader-text:focus {
     background-color: #eee;
     clip: auto !important;
     clip-path: none;
     color: #444;
     display: block;
     font-size: 1em;
     height: auto;
     left: 5px;
     line-height: normal;
     padding: 15px 23px 14px;
     text-decoration: none;
     top: 5px;
     width: auto;
     z-index: 100000;
     /* Above WP toolbar. */
 }
 
 body {
     line-height: 1.4;
     color: $gray;
     font-size: 16px;
     font-family: $font-base;
     background: $dark_green;
     @media screen and (max-width: $tablet_width) {
         font-size: 16px;
     }
     @media screen and (max-width: $mobile_width) {
         font-size: 14px;
     }
     /*overflow-x: hidden;
   overflow-y: scroll;*/
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 .wrapper {
     width: calc(100% - 2em);
     max-width: $wide_width;
     margin: auto;
     padding: 0 1em;
 }
 
 .ie .wrapper {
     max-width: $desktop_width;
 }
 
 h1 {
     font-size: 2.5rem;
     @media screen and (max-width: $tablet_width) {
         line-height: 1.2;
     }
     @media screen and (max-width: $mobile_width) {
         line-height: 1;
     }
 }
 
 ul {
     list-style-type: none;
     li {
         padding: 0;
     }
 }
 
 blockquote {
     border-left: solid 2px $gray;
     padding-left: 1em;
     font-style: italic;
 }
 
 a {
     color: $gray;
     text-decoration: none;
     &:hover {
         transition: color .6s;
         color: lighten($gray, 10%);
     }
 }
 
 .posts-navigation {
     text-align: center;
     margin: 2em 0;
     .nav-links>div {
         display: inline-block;
         padding: 0 1em;
     }
 }
 
 .entry-meta {
     text-align: right;
 }
 
 button,
 .button {
     display: inline-block;
     position: relative;
     //text-transform: uppercase;
     //font-size:1em;
     border: 1px solid $white;
     border-radius: 0;
     color: $white;
     border: 1px solid #fff;
     text-transform: uppercase;
     color: #fff;
     text-decoration: none;
     min-width: 125px;
     margin: .25em;
     padding: .5em .90em;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
     &:hover {
         border: 1px solid $green;
         color: $green;
     }
 }
 
 .ancre-scrollto {
     position: fixed;
     height: 83px;
     width: 52px;
     background: #fff;
     min-width: initial;
     padding: 0;
     right: 2em;
     bottom: 2em;
     z-index: 2;
     span {
         display: block;
         color: $dark_green;
         font-size: 0.75rem;
         margin-top: 25px;
         text-transform: uppercase;
         font-weight: bold;
         padding-top: 23px;
         text-align: center;
         &:before {
             content: "";
             position: absolute;
             top: 10px;
             left: 50%;
             transform: translateX(-50%);
             background: url(./image/fleche-ancre.svg) center top;
             height: 29px;
             width: 20px;
         }
     }
 }
 
 .ie .ancre-scrollto {
     span:before {
         display: none;
     }
     span {
         padding-top: 1em;
         margin-top: .5em;
     }
 }
 /** Breadcrumb **/
 
 #nav-breadcrumbs {
     max-width: 1400px;
     width: calc(100% - 2em);
     margin: auto;
     padding: 0 1em;
 }
 
 .ie #nav-breadcrumbs {
     max-width: $desktop_width;
 }
 
 #breadcrumbs {
     list-style-type: none;
     font-size: 12px;
     color: rgba(0, 0, 0, 0.45);
     letter-spacing: 0;
     margin: 0;
 }
 
 #breadcrumbs li {
     display: inline-block;
     margin-right: 10px;
     &:after {
         content: ">";
         position: relative;
         left: 5px;
     }
     &:last-of-type:after {
         display: none;
     }
 }
 /** Fonts **/
 
 $roboto-font-path: "./font";
 @font-face {
     src: url("#{$roboto-font-path}/RobotoCondensed-Bold.woff2") format("woff2");
     font-family: "Roboto";
     font-weight: bold;
 }
 
 @font-face {
     src: url("#{$roboto-font-path}/RobotoCondensed-Regular.woff2") format("woff2");
     font-family: "Roboto";
     font-weight: normal;
 }
 /** ancre home **/
 
 .ancre-home {
     display: block;
     text-align: center;
     color: #fff;
     text-transform: uppercase;
     font-size: 0.875rem;
     font-family: $font-base;
     text-decoration: none;
     padding-bottom: 20px;
     margin-top: 40px;
     svg {
         display: block;
         margin: 10px auto 0 auto;
     }
     &:hover {
         color: $green;
         svg g {
             stroke: $green;
         }
     }
 }
 /** grid **/
 
 .fullGrid {
     display: flex;
     align-items: stretch;
     flex-wrap: wrap;
     justify-content: center;
 }
 
 .fullGrid>* {
     flex: 100%;
 }
 
 @media only screen and (min-width:820px) {
     .fullGrid>* {
         flex: 50%;
         max-width: 50%;
     }
     .revGrid {
         flex-direction: row-reverse;
     }
     /** Définition des grilles**/
     .grid15 {
         flex: 15%;
         max-width: 15%;
     }
     .grid20 {
         flex: 20%;
         max-width: 20%;
     }
     .grid25 {
         flex: 25%;
         max-width: 25%;
     }
     .grid30 {
         flex: 30%;
         max-width: 30%;
     }
     .grid33 {
         flex: calc(100%/3);
         max-width: calc(100%/3);
     }
     .grid35 {
         flex: 35%;
         max-width: 35%;
     }
     .grid40 {
         flex: 40%;
         max-width: 40%;
     }
     .grid60 {
         flex: 60%;
         max-width: 60%;
     }
     .grid66 {
         flex: calc(100%*2/3);
         max-width: calc(100%*2/3);
     }
     .grid70 {
         flex: 70%;
         max-width: 70%
     }
     .grid75 {
         flex: 75%;
         max-width: 75%;
     }
     .grid80 {
         flex: 80%;
         max-width: 80%;
     }
     .grid100 {
         flex: 100%;
         max-width: 100%;
     }
 }
 
 @media screen and (max-width: 1024px) {
     .ancre-scrollto {
         display: none;
     }
 }