//color
$white : #fff;
$black : #000;
$gray : #333;
$green :#D4D900;
$dark_green : #006528;

$font-base: 'Roboto', Helvetica, arial, sans-serif;

$mobile_width: 400px;
$tablet_width: 800px;
$desktop_width: 1024px;
$wide_width: 1400px;