body {
    line-height: 1.4;
    color:white !important;
    text-align: center;
    font-size: 18px !important;
    text-transform: uppercase !important;
    font-family: "Roboto", Helvetica, arial, sans-serif !important;
    background: url(./image/bgComingSoon.png;) no-repeat !important;
    background-size: cover !important;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  @media screen and (max-width: 800px) {
    body {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 400px) {
    body {
      font-size: 14px;
    }
  
}

h1{
    /*display: block;
    width:320px;
    margin:0 auto;*/
    font-size:30px;
    text-transform: uppercase;
    color:white !important;
}
h1 span{
    font-size:46px;
    color:#D7D802;
    margin-bottom:20px;
    display:block;
}
h1 img{
    margin:20px 0 40px;
}
ul{
    list-style-type: none;
}
ul li{
    display:inline;
    margin:10px;
}
/*
<link rel="stylesheet" href="https://agrilogique.com/wp-content/plugins/coming-soon/themes/default/style.css">
<h1>Bientôt
Découvrez le site
<img src="https://agrilogique.com/wp-content/themes/agrilogique/image/Logo_Agrilogique.png" alt="Agrilogique" /></h1>
Une démarche portée par :
<ul>
 	<li><img src="https://agrilogique.com/wp-content/themes/agrilogique/image/logo pg.png" alt="Priméale" /></li>
 	<li><img src="https://agrilogique.com/wp-content/themes/agrilogique/image/Florette-Logo.png" alt="Florette" /></li>
</ul>
*/