@charset "UTF-8";
/*
Theme Name: Agrilogique
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème enfant de Susty 
Version: 1.0
Text Domain: agrilogique
Template: susty-master
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@keyframes moveArrow {
  0% {
    transform: translate(-50%, 0);
  }
  75% {
    transform: translate(-50%, 1em);
  }
}

#masthead {
  background: #006528;
}

.prehead {
  padding: 2em 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prehead span {
  margin-right: 15px;
  display: block;
}

.prehead img {
  margin: 0 5px;
}

.menu-bg {
  height: 53px;
  background: #D4D900;
  position: relative;
}

.custom_logo {
  display: block;
  position: relative;
  top: -15px;
  z-index: 7;
}

.custom_logo img {
  max-width: 230px;
  height: auto;
}

.headerIE {
  display: none;
}

.headerNotIE {
  display: block;
}

.ie .headerIE {
  display: block;
}

.ie .headerIE .prehead {
  position: relative;
  height: 80px;
  display: block;
  text-align: right;
  padding-top: 4em;
}

.ie .headerIE .prehead span {
  display: inline-block;
  transform: translateY(-15px);
}

.ie .headerIE .custom_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ie .headerIE #menu-main-ie {
  width: 100%;
}

.ie .headerIE #menu-main-ie ul {
  display: inline;
}

.ie .headerIE #menu-main-ie ul li {
  display: inline-block;
  width: 23%;
  margin: 0;
  text-align: center;
  padding-top: 1em;
}

.ie .headerNotIE {
  display: none;
}

#menu-desktop {
  display: flex;
  /*ul li {
        display: inline;
        margin-right: 50px;
    }*/
}

#menu-desktop div#menu-left, #menu-desktop div#menu-right {
  width: calc(50% - 115px);
}

#menu-desktop div#menu-left ul, #menu-desktop div#menu-right ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#menu-desktop div#menu-left ul li, #menu-desktop div#menu-right ul li {
  text-align: center;
}

#menu-desktop div#menu-right ul {
  grid-template-columns: 1fr 1fr 1fr;
}

#menu-desktop ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

#menu-desktop ul li a:hover,
#menu-desktop .current-menu-item a {
  position: relative;
}

#menu-desktop ul li a:hover:before,
#menu-desktop .current-menu-item a:before {
  content: "";
  position: absolute;
  background: url(./image/left-menu.png;) no-repeat;
  height: 36px;
  width: 8px;
  left: -10px;
  top: -9px;
}

#menu-desktop ul li a:hover:after,
#menu-desktop .current-menu-item a:after {
  content: "";
  position: absolute;
  background: url(./image/right-menu.png;) no-repeat;
  height: 36px;
  width: 8px;
  right: -10px;
  top: -9px;
}

#cont-menu {
  display: none;
}

#cont-menu #link-menu,
#cont-menu #link-menu-ie {
  position: absolute;
  min-width: initial;
  top: 5px;
  right: 1em;
  padding: 0;
  z-index: 11;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

#cont-menu #link-menu span.cross,
#cont-menu #link-menu span.cross:before,
#cont-menu #link-menu span.cross:after,
#cont-menu #link-menu-ie span.cross,
#cont-menu #link-menu-ie span.cross:before,
#cont-menu #link-menu-ie span.cross:after {
  opacity: 0;
}

#cont-menu #link-menu span,
#cont-menu #link-menu-ie span {
  opacity: 1;
  display: block;
  background: #000;
  border-radius: 2px;
  height: 4px;
  width: 40px;
}

#cont-menu #link-menu span.burger:before,
#cont-menu #link-menu-ie span.burger:before {
  transform: translateY(-12px);
}

#cont-menu #link-menu span.burger:after,
#cont-menu #link-menu-ie span.burger:after {
  transform: translateY(8px);
}

#cont-menu #link-menu span.burger::after,
#cont-menu #link-menu span.burger::before,
#cont-menu #link-menu-ie span.burger::after,
#cont-menu #link-menu-ie span.burger::before {
  content: "";
  opacity: 1;
  display: block;
  background: #000;
  border-radius: 2px;
  height: 4px;
  width: 40px;
}

#cont-menu #link-menu:active .burger,
#cont-menu #link-menu:active .burger::before,
#cont-menu #link-menu:active .burger:after,
#cont-menu #link-menu:focus .burger,
#cont-menu #link-menu:focus .burger::before,
#cont-menu #link-menu:focus .burger:after,
#cont-menu #link-menu-ie:active .burger,
#cont-menu #link-menu-ie:active .burger::before,
#cont-menu #link-menu-ie:active .burger:after,
#cont-menu #link-menu-ie:focus .burger,
#cont-menu #link-menu-ie:focus .burger::before,
#cont-menu #link-menu-ie:focus .burger:after {
  transition: opacity 1s;
  opacity: 0;
}

#cont-menu #link-menu span.cross,
#cont-menu #link-menu span.cross:before,
#cont-menu #link-menu span.cross:after,
#cont-menu #link-menu-ie span.cross,
#cont-menu #link-menu-ie span.cross:before,
#cont-menu #link-menu-ie span.cross:after {
  opacity: 0;
}

#cont-menu #link-menu:active .cross::before,
#cont-menu #link-menu:focus .cross::before,
#cont-menu #link-menu-ie:active .cross::before,
#cont-menu #link-menu-ie:focus .cross::before {
  content: "";
  display: block;
  opacity: 1;
  background: #fff;
  border-radius: 2px;
  height: 4px;
  width: 40px;
  transform: rotate(90deg);
}

#cont-menu #link-menu:active .cross,
#cont-menu #link-menu:focus .cross,
#cont-menu #link-menu-ie:active .cross,
#cont-menu #link-menu-ie:focus .cross {
  opacity: 1;
  transition: opacity 1s;
  background: #fff;
  border-radius: 2px;
  height: 4px;
  width: 40px;
  transform: rotate(45deg) translate(-3px, -3px);
}

#cont-menu-full-screen.openMenu,
#cont-menu-full-screen-ie.openMenu {
  display: block;
  left: 0;
  transition: left .75s ease;
}

#cont-menu-full-screen,
#cont-menu-full-screen-ie {
  position: fixed;
  top: 143px;
  left: -100vw;
  transition: left .75s ease;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  color: #D4D900;
  background: #006528;
  overflow: hidden;
}

#cont-menu-full-screen ul,
#cont-menu-full-screen-ie ul {
  padding: 0;
}

#cont-menu-full-screen ul li,
#cont-menu-full-screen-ie ul li {
  border-bottom: solid 1px #D4D900;
  padding: 1em;
}

#cont-menu-full-screen a {
  color: #D4D900;
  font-size: 1.5rem;
  text-decoration: none;
}

@media all and (min-width: 800px) {
  .menu-lang {
    position: relative;
  }
  .menu-lang:before {
    background: url(./image/planet.svg);
    content: " ";
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    transform: translate(-10px, 1px);
  }
}

@media all and (min-width: 920px) and (max-width: 1280px) {
  #menu-desktop ul li {
    margin-right: 20px;
  }
  #menu-desktop ul li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 819px) {
  #menu-desktop div {
    margin: 0 auto;
  }
  #menu-left,
  #menu-right {
    display: none;
  }
  #cont-menu {
    display: block;
  }
}

.page-template-default #content {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 60px;
}

.page-template-default .attachment-post-thumbnail {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

#content {
  padding-top: 2.5rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 0;
}

.bloc {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bloc-content {
  color: #fff;
  padding-right: 60px;
  padding-top: 20px;
}

.bloc-content h2 {
  font-size: 2.875rem;
  line-height: 1.5em;
  color: #D4D900;
  text-transform: uppercase;
  display: inline-block;
}

.bloc-content .button {
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
}

h1 {
  font-weight: 2.875rem;
  line-height: 1em;
  color: #006528;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
}

h1:before {
  content: "";
  background-image: url(./image/papillons.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 738px;
  height: 128px;
  position: absolute;
  z-index: 1;
  left: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}

h1:after {
  content: "";
  position: relative;
  width: 200px;
  background: #006528;
  height: 2px;
  bottom: -30px;
  margin: 0 auto;
  display: block;
}

.ie h1:before {
  display: none;
}

.video, .video-small {
  position: relative;
  width: fit-content;
}

.videoIE {
  display: inline-block;
  position: relative;
}

.videoIE .video-small .play {
  position: relative;
}

.video .play, .video-small .play {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(21, 21, 21, 0.8);
  margin: auto;
  cursor: pointer;
}

.video .play:before, .video-small .play:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: calc((30px)/1.5) 0 calc(30px/1.5) 30px;
  border-color: transparent transparent transparent #fff;
  transform: translateX(5px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .video .play, .video-small .play {
    width: 70px;
    height: 70px;
  }
  .video .play:before, .video-small .play:before {
    border-width: calc((15px)/1.5) 0 calc(15px/1.5) 15px;
  }
  .video-small img, .video-big img {
    width: 100%;
    max-width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h1:before {
    display: none;
  }
}

#footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 230px;
  padding-top: 20px;
}

#footer .footer-content {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

#footer span:before {
  content: "•";
  position: relative;
  left: -5px;
}

#footer #menu-menu-footer,
#footer .footer {
  padding-left: 0;
  position: relative;
  display: inline;
}

#footer #menu-menu-footer li,
#footer .footer li {
  display: inline;
  margin-right: 1em;
}

#footer #menu-menu-footer li::before,
#footer .footer li::before {
  content: "•";
  position: relative;
  left: -5px;
}

#footer #menu-menu-footer li a:hover,
#footer .footer li a:hover {
  color: #006528;
}

#footer .logo-footer {
  margin: 0 10px;
}

@media screen and (max-width: 820px) {
  #footer .footer-content {
    flex-flow: column;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  transform: translateY(-100%);
  z-index: 15;
  transition: top 1s;
}

.modal .modalInside,
.modal #modal-lang-content {
  text-align: center;
  width: 50vw;
  height: auto;
  max-height: 50vh;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

@media screen and (max-width: 1024px) {
  .modal .modalInside,
  .modal #modal-lang-content {
    width: calc(100% - 2em);
    height: 80vh;
    max-width: 80vh;
  }
}

.modal .modalInside .video-container,
.modal #modal-lang-content .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.modal .modalInside .video-container iframe,
.modal .modalInside .video-container object,
.modal .modalInside .video-container embed,
.modal #modal-lang-content .video-container iframe,
.modal #modal-lang-content .video-container object,
.modal #modal-lang-content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal.active {
  top: 100vh;
}

.modal.active .modalInside {
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal .close {
  color: #fff;
  font-size: 2em;
  position: absolute;
  font-family: sans-serif;
  width: 20px;
  height: 20px;
  top: 1em;
  right: 1em;
  z-index: 55;
  cursor: pointer;
}

.modal #modal-lang-content {
  background: #D4D900;
  text-transform: uppercase;
  font-weight: bold;
}

.modal #modal-lang-content .modal-lang-content-header {
  border-bottom: solid 1px #000;
  padding: 1em;
}

.modal #modal-lang-content .modal-lang-content-header B:before {
  background: url(./image/planet.svg);
  content: " ";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  transform: translate(-10px, 5px);
}

.modal #modal-lang-content .modal-menu-lang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
}

.modal #modal-lang-content .modal-menu-lang * {
  text-align: center;
  line-height: 3em;
}

.modal #modal-lang-content .modal-menu-lang a:hover {
  color: #006528;
}

.modal #modal-lang-content .close {
  font-weight: 100;
  color: #000;
  top: 0.25em;
  right: .5em;
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
  .modal #modal-lang-content {
    width: inherit;
    height: auto;
    max-width: auto;
  }
}

@media screen and (max-width: 800px) {
  .modal #modal-lang-content .modal-menu-lang {
    grid-template-columns: 1fr;
  }
}

i.planet:before {
  background: url(./image/planet.svg);
  content: " ";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

body {
  line-height: 1.4;
  color: #333;
  font-size: 16px;
  font-family: "Roboto", Helvetica, arial, sans-serif;
  background: #006528;
  /*overflow-x: hidden;
   overflow-y: scroll;*/
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: calc(100% - 2em);
  max-width: 1400px;
  margin: auto;
  padding: 0 1em;
}

.ie .wrapper {
  max-width: 1024px;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  h1 {
    line-height: 1.2;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    line-height: 1;
  }
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0;
}

blockquote {
  border-left: solid 2px #333;
  padding-left: 1em;
  font-style: italic;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  transition: color .6s;
  color: #4d4d4d;
}

.posts-navigation {
  text-align: center;
  margin: 2em 0;
}

.posts-navigation .nav-links > div {
  display: inline-block;
  padding: 0 1em;
}

.entry-meta {
  text-align: right;
}

button,
.button {
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  min-width: 125px;
  margin: .25em;
  padding: .5em .90em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

button:hover,
.button:hover {
  border: 1px solid #D4D900;
  color: #D4D900;
}

.ancre-scrollto {
  position: fixed;
  height: 83px;
  width: 52px;
  background: #fff;
  min-width: initial;
  padding: 0;
  right: 2em;
  bottom: 2em;
  z-index: 2;
}

.ancre-scrollto span {
  display: block;
  color: #006528;
  font-size: 0.75rem;
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 23px;
  text-align: center;
}

.ancre-scrollto span:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: url(./image/fleche-ancre.svg) center top;
  height: 29px;
  width: 20px;
}

.ie .ancre-scrollto span:before {
  display: none;
}

.ie .ancre-scrollto span {
  padding-top: 1em;
  margin-top: .5em;
}

/** Breadcrumb **/
#nav-breadcrumbs {
  max-width: 1400px;
  width: calc(100% - 2em);
  margin: auto;
  padding: 0 1em;
}

.ie #nav-breadcrumbs {
  max-width: 1024px;
}

#breadcrumbs {
  list-style-type: none;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  letter-spacing: 0;
  margin: 0;
}

#breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}

#breadcrumbs li:after {
  content: ">";
  position: relative;
  left: 5px;
}

#breadcrumbs li:last-of-type:after {
  display: none;
}

/** Fonts **/
@font-face {
  src: url("./font/RobotoCondensed-Bold.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: bold;
}

@font-face {
  src: url("./font/RobotoCondensed-Regular.woff2") format("woff2");
  font-family: "Roboto";
  font-weight: normal;
}

/** ancre home **/
.ancre-home {
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "Roboto", Helvetica, arial, sans-serif;
  text-decoration: none;
  padding-bottom: 20px;
  margin-top: 40px;
}

.ancre-home svg {
  display: block;
  margin: 10px auto 0 auto;
}

.ancre-home:hover {
  color: #D4D900;
}

.ancre-home:hover svg g {
  stroke: #D4D900;
}

/** grid **/
.fullGrid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.fullGrid > * {
  flex: 100%;
}

@media only screen and (min-width: 820px) {
  .fullGrid > * {
    flex: 50%;
    max-width: 50%;
  }
  .revGrid {
    flex-direction: row-reverse;
  }
  /** Définition des grilles**/
  .grid15 {
    flex: 15%;
    max-width: 15%;
  }
  .grid20 {
    flex: 20%;
    max-width: 20%;
  }
  .grid25 {
    flex: 25%;
    max-width: 25%;
  }
  .grid30 {
    flex: 30%;
    max-width: 30%;
  }
  .grid33 {
    flex: calc(100%/3);
    max-width: calc(100%/3);
  }
  .grid35 {
    flex: 35%;
    max-width: 35%;
  }
  .grid40 {
    flex: 40%;
    max-width: 40%;
  }
  .grid60 {
    flex: 60%;
    max-width: 60%;
  }
  .grid66 {
    flex: calc(100%*2/3);
    max-width: calc(100%*2/3);
  }
  .grid70 {
    flex: 70%;
    max-width: 70%;
  }
  .grid75 {
    flex: 75%;
    max-width: 75%;
  }
  .grid80 {
    flex: 80%;
    max-width: 80%;
  }
  .grid100 {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .ancre-scrollto {
    display: none;
  }
}

.page-template-tpl-range-recipe #content {
  background-position: initial;
}

.page-template-tpl-range-recipe #content p {
  color: #006528;
  font-size: 1.625rem;
}

.recipe-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.recipe-content:before {
  content: "";
  background: rgba(35, 35, 35, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.recipe-content h2 {
  font-size: 2.875rem;
  font-weight: bold;
  color: #D4D900;
  text-transform: uppercase;
  position: relative;
  max-width: 370px;
  text-align: left;
}

.recipe-content img {
  position: relative;
  margin: 0 auto;
}

.recipe-content a {
  margin: 3em 0;
  padding: 1em 2.5em;
}

#recipesArchive {
  background: rgba(35, 35, 35, 0.7);
  text-align: center;
  padding-top: 20px;
}

#recipesArchive .wrapper {
  max-width: 960px;
}

#recipesArchive h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

#recipesArchive h2:after {
  content: "";
  position: relative;
  width: 80%;
  background: #fff;
  height: 2px;
  bottom: -30px;
  margin: 0 auto;
  display: block;
}

#recipesArchive .recipe {
  display: none;
}

#recipesArchive .recipe a {
  display: block;
  background: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125rem;
  overflow: hidden;
  margin: 15px;
  text-align: left;
}

#recipesArchive .recipe a:hover {
  color: #006528;
}

#recipesArchive .recipe h3 {
  padding: 1em;
  margin: 0;
}

#recipesArchive .recipe:nth-of-type(-n+6) {
  display: block;
}

#recipesArchive .recipeActive {
  display: block;
}

#recipesArchive #moreRecipes {
  background: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 820px) {
  #recipesArchive .recipe a img {
    width: 100%;
  }
}

.ie .recipe-content {
  justify-content: flex-start !important;
}

.single-recipe h1 {
  color: #D4D900;
}

.single-recipe #main {
  color: #fff;
}

.single-recipe #main .wrapper {
  padding-top: 5em;
  padding-bottom: 5em;
}

.single-recipe #main img {
  max-width: 100%;
  height: auto;
}

.single-recipe #main ul {
  list-style: none;
}

.single-recipe #main ul li::before {
  content: "\2022";
  color: #D4D900;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.single-recipe h1 {
  text-align: left;
}

.single-recipe h1:before, .single-recipe h1:after {
  display: none;
}

.single-recipe h2 {
  position: relative;
}

.single-recipe h2:after {
  content: "";
  position: relative;
  background: #fff;
  height: 2px;
  left: 0;
  margin: 0 auto;
  display: block;
}

.single-recipe .pdt-lie {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.single-recipe .pdt-lie .wrapper {
  padding-top: 5em;
}

.single-recipe .pdt-lie .grid70 {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-start;
}

.single-recipe .pdt-lie .grid70 span {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
}

.single-recipe .pdt-lie .grid70 p {
  font-size: 2.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #D4D900;
}

.ie.single-recipe .grid70 {
  padding-left: 2em !important;
  max-width: calc(70% - 2em) !important;
}

.editor {
  padding-bottom: 60px;
}

.editor .wrapper {
  background: rgba(35, 35, 35, 0.7);
  color: #fff;
  max-width: 860px;
  padding: 1.2em;
}

.editor .wrapper a {
  color: #D4D900;
  text-decoration: none;
}

.editor .wrapper a:hover {
  transition: color .6s;
  color: #f9ff0d;
}

@media screen and (max-width: 1024px) {
  .editor {
    padding: 0 20px 60px 15px;
  }
}

.page-template-tpl-faq #content {
  padding-bottom: 60px;
}

.faq {
  max-width: 960px;
  width: calc(100% - 2em);
  margin: auto;
  padding: 0 1em;
}

button.accordion {
  width: 100%;
  background-color: #D4D900;
  margin: 20px 0 0 0;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 1.625rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  color: #006528;
  cursor: pointer;
  transition: background-color 0.2s linear;
  position: relative;
}

button.accordion:after {
  border: solid #006528;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  content: "";
}

button.accordion.is-open:after {
  transform: rotate(225deg);
}

button.accordion:hover, button.accordion.is-open {
  background-color: #D4D900;
}

.accordion-content {
  background: rgba(35, 35, 35, 0.7);
  color: #fff;
  padding: 1.2em;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content a {
  color: #D4D900;
  text-decoration: none;
}

.accordion-content a:hover {
  transition: color .6s;
  color: #f9ff0d;
}

.page-template-tpl-faq .attachment-post-thumbnail {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}

.map-farmer .wrapper {
  background: none;
  max-width: 860px;
}

.map-farmer h2 {
  font-weight: bold;
  font-size: 46px;
  line-height: 1.2em;
  color: #D4D900;
  text-transform: uppercase;
}

.map-farmer p {
  font-size: 2.25rem;
  color: #006528;
}

.map-farmer .bg {
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-flow: row;
  padding: 2em;
}

@media screen and (max-width: 800px) {
  .map-farmer .bg {
    flex-flow: column;
  }
}

.ie .map-farmer p {
  max-width: 50%;
}

.proof-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.proof-header .grid20 {
  text-align: center;
}

.proof-header a {
  text-decoration: none;
  color: #006528;
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 1em;
}

.proof-header .round {
  content: "";
  background: #fff;
  height: 180px;
  width: 180px;
  border-radius: 100%;
  margin: 0 auto;
  position: relative;
}

.proof-header .round img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.proof-header .number {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background: #006528;
  color: #fff;
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
  line-height: 65px;
  border-radius: 100%;
  position: relative;
  top: -15px;
}

.proof-header span.title {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 1;
  min-height: 55px;
  display: block;
  text-transform: uppercase;
}

.proof-header .more {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  display: block;
  position: relative;
  bottom: 5px;
}

.proof-header .more span {
  display: block;
}

.proof-header .more i {
  border: solid #006528;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  display: inline-block;
}

.proof-header p {
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 75px;
}

.page-template-tpl-proof .videoIE {
  display: none;
}

.page-template-tpl-proof #content {
  position: relative;
}

.page-template-tpl-proof #content img.attachment-post-thumbnail {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.page-template-tpl-proof #content span.proof-number {
  color: #D4D900;
  text-transform: uppercase;
  font-size: 1.625rem;
  display: block;
  margin-top: 2em;
}

.page-template-tpl-proof #content h2 {
  margin: 0em 0;
}

.page-template-tpl-proof .fullGrid {
  justify-content: flex-end;
}

.page-template-tpl-proof .grid70 {
  background: rgba(35, 35, 35, 0.7);
  display: flex;
}

.page-template-tpl-proof .proof {
  border-left: 10px solid #fff;
  padding: 0 0 0 10px;
  margin: 50px 20px 0 0;
  position: relative;
}

.page-template-tpl-proof .proof li {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  background: #006528;
  text-align: center;
  border-radius: 100%;
  position: relative;
  top: -1px;
  left: -50px;
  margin-bottom: 60px;
  cursor: pointer;
}

.page-template-tpl-proof .proof li:hover, .page-template-tpl-proof .proof li.active {
  background: #D4D900;
}

.page-template-tpl-proof .proof a {
  color: #fff;
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: uppercase;
  position: relative;
  line-height: 65px;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .page-template-tpl-proof .grid70 {
    background: rgba(35, 35, 35, 0.7);
    display: flex;
    flex-flow: column;
  }
  .page-template-tpl-proof .grid70 .proof {
    border-left: 0;
    margin: 20px 0 0 0;
    position: relative;
    display: inherit;
  }
  .page-template-tpl-proof .grid70 .proof:before {
    content: '';
    position: absolute;
    top: 15px;
    background: #fff;
    width: 100%;
    height: 10px;
  }
  .page-template-tpl-proof .grid70 .proof li {
    width: 45px;
    height: 45px;
    background: #006528;
    text-align: center;
    border-radius: 100%;
    margin-bottom: 0;
    cursor: pointer;
    display: inline-block;
    left: initial;
    top: initial;
  }
  .page-template-tpl-proof .grid70 .proof li:hover, .page-template-tpl-proof .grid70 .proof li.active {
    background: #D4D900;
  }
  .page-template-tpl-proof .grid70 .proof a {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    line-height: 45px;
    display: block;
    text-decoration: none;
  }
  .page-template-tpl-proof .grid70 .bloc-content {
    padding: 0 20px;
  }
}

.ie.page-template-tpl-proof .video {
  display: none;
}

.ie.page-template-tpl-proof .videoIE {
  display: block;
}

.ie.page-template-tpl-proof .bloc-content {
  max-width: 70%;
}

.home #content {
  padding: 0;
}

.slide-main-home {
  padding: 40px 0 0 0;
}

.slide-main-home a p {
  color: #006528;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
}

.slide-main-home a p strong {
  font-size: 1.5rem;
}

.slide-main-home a {
  position: relative;
  display: block;
  text-align: center;
}

.slide-main-home a p {
  position: absolute;
  z-index: 2;
  line-height: 1.5em;
}

.slide-main-home .wrapper {
  max-width: 960px;
}

.slide-main-home .fullGrid {
  align-items: center;
  background-image: url(./image/plus.svg);
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.slide-main-home .demarche {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-main-home .ancre1 img {
  left: -20px;
  position: relative;
}

.slide-main-home .ancre3 img {
  bottom: -20px;
  position: relative;
}

.slide-main-home-de .demarche {
  position: absolute;
  z-index: 1;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -62%);
}

.slide-main-home-de .ancre3 img,
.slide-main-home-de .ancre4 img {
  bottom: -40px;
  position: relative;
}

@media screen and (min-width: 820px) and (max-width: 1024px) {
  .demarche img {
    max-width: 80%;
  }
}

@media screen and (max-width: 820px) {
  .slide-main-home .fullGrid {
    background-image: none;
  }
  .slide-main-home .demarche {
    position: relative;
    order: 1;
    text-align: center;
    transform: translate(-50%, 0%);
  }
  .slide-main-home .ancre1 {
    order: 2;
  }
  .slide-main-home .ancre2 {
    order: 3;
  }
  .slide-main-home .ancre3 {
    order: 4;
  }
  .slide-main-home .ancre4 {
    order: 5;
  }
}

.slide-second-home .fullGrid {
  justify-content: flex-end;
}

.slide-second-home .grid70 {
  background: rgba(35, 35, 35, 0.7);
  display: flex;
  flex-flow: nowrap;
}

.slide-second-home .videoIE {
  display: none;
}

.slide-second-home .home {
  border-left: 10px solid #fff;
  padding: 10px 0 0 10px;
  margin: 160px 50px 0 0;
  position: relative;
}

.slide-second-home .home:before {
  content: "";
  background: url(./image/nav-feuille.svg);
  width: 82px;
  height: 131px;
  position: absolute;
  top: -130px;
  left: -16px;
}

.slide-second-home .home a {
  font-size: 0.75rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 80px;
  display: block;
  text-decoration: none;
  padding: 0;
}

.slide-second-home .home a:hover {
  color: #D4D900;
}

.slide-second-home .home a:hover:before {
  background: #D4D900;
  transition: width 0.8s linear;
  width: 100px;
}

.slide-second-home .home a:before {
  content: "";
  position: absolute;
  left: -45px;
  top: -20px;
  width: 60px;
  height: 10px;
  border-radius: 8px;
  background: #fff;
}

.slide-second-home .menu-item.active a {
  color: #D4D900;
}

.slide-second-home .menu-item.active a:before {
  background: #D4D900;
  transition: width 0.8s linear;
  width: 100px;
}

@media screen and (max-width: 820px) {
  .slide-second-home .grid70 {
    background: rgba(35, 35, 35, 0.7);
    display: flex;
    flex-flow: column;
  }
  .slide-second-home .grid70 .home {
    border-top: 10px solid #fff;
    border-left: 0;
    padding: 0;
    margin: 0;
    position: relative;
    display: inherit;
  }
  .slide-second-home .grid70 .home::before {
    display: none;
  }
  .slide-second-home .grid70 .home a {
    font-size: 0.75rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 0;
    display: block;
    text-decoration: none;
    padding: 40px 10px 0 10px;
  }
  .slide-second-home .grid70 .home a:hover {
    color: #D4D900;
  }
  .slide-second-home .grid70 .home a:hover:before {
    background: #D4D900;
    transition: none;
  }
  .slide-second-home .grid70 .home a:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    width: 10px;
    height: 40px;
    border-radius: 8px;
    background: #fff;
  }
  .slide-second-home .grid70 .bloc-content {
    padding: 0 20px;
  }
}

.ie .slide-second-home .video {
  display: none;
}

.ie .slide-second-home .videoIE {
  display: block;
  position: relative;
}

.ie .slide-second-home .videoIE .play {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ie .slide-second-home .videoIE iframe {
  max-width: 100%;
}

.ie .slide-second-home .fullGrid {
  justify-content: unset !important;
  width: calc(100% - 2em);
  max-width: 1024px;
  margin: auto;
}

.ie .slide-second-home .grid70 {
  background: rgba(35, 35, 35, 0.7);
  display: flex;
  flex-flow: unset !important;
  max-width: 100%;
  padding-left: 4em;
  width: calc(100% - 2em);
}

.ie .slide-second-home .bloc-content {
  max-width: 60%;
}

.slide-video {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 40px;
}

.slide-video .video {
  text-align: center;
  margin: 0 auto;
}

.slide-video .videoIE {
  display: none;
}

.slide-video p {
  margin: 0;
}

.ie .slide-video {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 40px;
}

.ie .slide-video .video {
  display: none;
}

.ie .slide-video .videoIE {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.ie .slide-video p {
  margin: 0;
}

.slider {
  max-height: 450px;
  background: rgba(35, 35, 35, 0.82);
  position: relative;
  color: #fff;
  padding: 4em 0;
}

.slider .wrapper {
  background: none;
  position: relative;
  max-width: 860px;
}

.slider .container {
  position: relative;
}

.slider .mySlides {
  display: none;
  justify-content: center;
}

.slider .bloc-img {
  display: inline-block;
  margin: 0.5em;
  cursor: pointer;
}

.slider .bloc-img img {
  display: block;
}

.slider .bloc-img .span {
  display: block;
}

.slider .cursor {
  cursor: pointer;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev {
  left: 0;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slider .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.slider .row:after {
  content: "";
  display: table;
  clear: both;
}

.slider .bloc-img {
  display: inline;
}

.slider .active,
.slider .bloc-img:hover {
  opacity: 1;
}

.slider .modal {
  text-align: center;
  color: #fff;
  padding: 2em;
}

.slider .modal img {
  max-width: 100%;
  max-height: 80%;
  margin: auto;
}

.slider .modal div {
  text-align: center;
  max-width: 66%;
  margin: 1em auto 0 auto;
}

@media screen and (max-width: 820px) {
  .slider {
    max-height: 250px;
  }
  .slider .mySlides {
    flex-flow: column;
    justify-content: center;
  }
  .slider .bloc-img {
    margin: 0 auto;
  }
  .slider .prev,
  .slider .next {
    top: 25%;
    font-size: 75px;
  }
}

.ie .slider .bloc-img {
  display: inline-block;
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}
