.page-template-default #content {
    background-repeat:no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 60px;
}

.page-template-default {
    .attachment-post-thumbnail {
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
}

#content {
    padding-top: 2.5rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: 0;
}

.bloc {
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}

.bloc-content {
    color: #fff;
    padding-right: 60px;
    padding-top: 20px;

    h2 {
        font-size: 2.875rem;
        line-height: 1.5em;
        color: $green;
        text-transform: uppercase;
        display: inline-block;
    }

    .button {
        border: 1px solid #fff;
        text-transform: uppercase; 
        color: #fff; 
        text-decoration: none;
        margin-bottom: 30px;
    }
}

h1 {
    font-weight: 2.875rem;
    line-height: 1em;
    color: $dark_green;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 60px;

    &:before {
        content: "";
        background-image: url(./image/papillons.png);
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        width: 738px;
        height: 128px;
        position: absolute;
        z-index: 1;
        left: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        top: -40px;
    }    

    &:after {
        content: "";
        position: relative;
        width: 200px;
        background: #006528;
        height: 2px;
        bottom: -30px;
        margin: 0 auto;
        display: block;
    }
}
.ie{
    
    h1{
       //max-width:100vw;
       &:before{
        display:none;
       }
    }
    
}
.video, .video-small {
    position: relative;
    width: fit-content;
}
.videoIE{
    display: inline-block;
    position: relative;
    .video-small{
        .play{
            position: relative;
        }
    }
}

.video .play, .video-small .play {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-radius: 50%;
    background: rgba(21,21,21,0.80);
    margin: auto;
    cursor: pointer;
    
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: calc((30px)/1.5) 0 calc(30px/1.5) 30px;
        border-color: transparent transparent transparent #fff;
        transform: translateX(5px); 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {

    .video .play, .video-small .play {
        width: 70px;
        height: 70px;
        //top: 20px;
        
        &:before {
            border-width: calc((15px)/1.5) 0 calc(15px/1.5) 15px;
        }
    }

    .video-small img, .video-big img{
        width:100%;
        max-width:100%;
    }
    

    img {
        max-width: 100%;
        height: auto;
    }

    h1 {
        &:before {
            display: none;
        }    
    } 
}