#footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 230px;
    padding-top: 20px;
    .footer-content {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
    }
    span:before {
        content: "•";
        position: relative;
        left: -5px;
    }
    #menu-menu-footer,
    .footer {
        padding-left: 0;
        position: relative;
        display: inline;
        li {
            display: inline;
            margin-right: 1em;
            &::before {
                content: "•";
                position: relative;
                left: -5px;
            }
            a:hover {
                color: $dark-green;
            }
        }
    }
    .logo-footer {
        margin: 0 10px;
    }
}

@media screen and (max-width: 820px) {
    #footer {
        .footer-content {
            flex-flow: column;
        }
    }
}