#masthead {
    background: $dark-green;
}

.prehead {
    padding: 2em 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        margin-right: 15px;
        display: block;
    }
    img {
        margin: 0 5px;
    }
}

.menu-bg {
    height: 53px;
    background: $green;
    position: relative;
}

.custom_logo {
    display: block;
    position: relative;
    top: -15px;
    z-index: 7;
    img {
        max-width: 230px;
        height: auto;
    }
}

.headerIE {
    display: none;
}

.headerNotIE {
    display: block;
}

.ie .headerIE {
    display: block;
    .prehead {
        position: relative;
        height: 80px;
        display: block;
        text-align: right;
        padding-top: 4em;
        span {
            display: inline-block;
            transform: translateY(-15px);
        }
    }
    .custom_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #menu-main-ie {
        width: 100%;
        ul {
            display: inline;
            li {
                display: inline-block;
                width: 23%;
                margin: 0;
                text-align: center;
                padding-top: 1em;
            }
        }
    }
}

.ie .headerNotIE {
    display: none;
}