#menu-desktop {
    display: flex;
    div {
        //width: calc((100% / 3) - 0.1px);
        &#menu-left,
        &#menu-right {
            width: calc(50% - 115px);
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                li {
                    text-align: center;
                }
            }
        }
        &#menu-right {
            ul {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
    /*ul li {
        display: inline;
        margin-right: 50px;
    }*/
    ul li a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-base;
        font-weight: bold;
        font-size: 1rem;
    }
    ul li a:hover,
    .current-menu-item a {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: url(./image/left-menu.png;) no-repeat;
            height: 36px;
            width: 8px;
            left: -10px;
            top: -9px;
        }
        &:after {
            content: "";
            position: absolute;
            background: url(./image/right-menu.png;) no-repeat;
            height: 36px;
            width: 8px;
            right: -10px;
            top: -9px;
        }
    }
}

#cont-menu {
    display: none;
    #link-menu,
    #link-menu-ie {
        position: absolute;
        min-width: initial;
        top: 5px;
        right: 1em;
        padding: 0;
        z-index: 11;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
    }
    #link-menu span.cross,
    #link-menu span.cross:before,
    #link-menu span.cross:after,
    #link-menu-ie span.cross,
    #link-menu-ie span.cross:before,
    #link-menu-ie span.cross:after {
        opacity: 0;
    }
    #link-menu span,
    #link-menu-ie span {
        opacity: 1;
        display: block;
        background: #000;
        border-radius: 2px;
        height: 4px;
        width: 40px;
    }
    #link-menu span.burger:before,
    #link-menu-ie span.burger:before {
        transform: translateY(-12px);
    }
    #link-menu span.burger:after,
    #link-menu-ie span.burger:after {
        transform: translateY(8px);
    }
    #link-menu span.burger::after,
    #link-menu span.burger::before,
    #link-menu-ie span.burger::after,
    #link-menu-ie span.burger::before {
        content: "";
        opacity: 1;
        display: block;
        background: #000;
        border-radius: 2px;
        height: 4px;
        width: 40px;
    }
    #link-menu:active .burger,
    #link-menu:active .burger::before,
    #link-menu:active .burger:after,
    #link-menu:focus .burger,
    #link-menu:focus .burger::before,
    #link-menu:focus .burger:after,
    #link-menu-ie:active .burger,
    #link-menu-ie:active .burger::before,
    #link-menu-ie:active .burger:after,
    #link-menu-ie:focus .burger,
    #link-menu-ie:focus .burger::before,
    #link-menu-ie:focus .burger:after {
        transition: opacity 1s;
        opacity: 0;
    }
    #link-menu span.cross,
    #link-menu span.cross:before,
    #link-menu span.cross:after,
    #link-menu-ie span.cross,
    #link-menu-ie span.cross:before,
    #link-menu-ie span.cross:after {
        opacity: 0;
    }
    #link-menu:active .cross::before,
    #link-menu:focus .cross::before,
    #link-menu-ie:active .cross::before,
    #link-menu-ie:focus .cross::before {
        content: "";
        display: block;
        opacity: 1;
        background: #fff;
        border-radius: 2px;
        height: 4px;
        width: 40px;
        transform: rotate(90deg)
    }
    #link-menu:active .cross,
    #link-menu:focus .cross,
    #link-menu-ie:active .cross,
    #link-menu-ie:focus .cross {
        opacity: 1;
        transition: opacity 1s;
        background: #fff;
        border-radius: 2px;
        height: 4px;
        width: 40px;
        transform: rotate(45deg) translate(-3px, -3px);
    }
}

#cont-menu-full-screen.openMenu,
#cont-menu-full-screen-ie.openMenu {
    display: block;
    left: 0;
    transition: left .75s ease;
}

#cont-menu-full-screen,
#cont-menu-full-screen-ie {
    position: fixed;
    top: 143px;
    left: -100vw;
    transition: left .75s ease;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    color: $green;
    background: $dark-green;
    overflow: hidden;
    ul {
        padding: 0;
        li {
            border-bottom: solid 1px $green;
            padding: 1em;
        }
    }
}

#cont-menu-full-screen a {
    color: $green;
    font-size: 1.5rem;
    text-decoration: none;
}

@media all and (min-width: 800px) {
    .menu-lang {
        position: relative;
        &:before {
            background: url(./image/planet.svg);
            content: " ";
            //padding-right: .5em;
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            transform: translate(-10px, 1px);
        }
    }
}

@media all and (min-width: 920px) and (max-width: 1280px) {
    #menu-desktop ul li {
        margin-right: 20px;
        a {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 819px) {
    #menu-desktop div {
        margin: 0 auto;
    }
    #menu-left,
    #menu-right {
        display: none;
    }
    #cont-menu {
        display: block;
    }
}