.modal {
    background-color: rgba(black, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    transform: translateY(-100%);
    z-index: 15;
    transition: top 1s;
    .modalInside,
    #modal-lang-content {
        text-align: center;
        width: 50vw;
        height: auto;
        max-height: 50vh;
        @media screen and (max-width: 1024px) {
            width: calc(100% - 2em);
            height: 80vh;
            max-width: 80vh;
        }
        z-index:50;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        position:fixed;
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.active {
        top: 100vh;
        .modalInside {
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .close {
        color: #fff;
        font-size: 2em;
        position: absolute;
        font-family: sans-serif;
        width: 20px;
        height: 20px;
        top: 1em;
        right: 1em;
        z-index: 55;
        cursor: pointer;
    }
    #modal-lang-content {
        background: $green;
        text-transform: uppercase;
        font-weight: bold;
        .modal-lang-content-header {
            border-bottom: solid 1px #000;
            padding: 1em;
            B:before {
                background: url(./image/planet.svg);
                content: " ";
                //padding-right: .5em;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                display: inline-block;
                transform: translate(-10px, 5px);
            }
        }
        .modal-menu-lang {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2em;
            * {
                text-align: center;
                line-height: 3em;
            }
            a:hover {
                color: $dark-green;
            }
        }
        .close {
            font-weight: 100;
            color: #000;
            top: 0.25em;
            right: .5em;
            font-size: 1.5em
        }
        @media screen and (max-width: 1024px) {
            width: inherit;
            height: auto;
            max-width: auto;
        }
        @media screen and (max-width: $tablet_width) {
            .modal-menu-lang {
                grid-template-columns: 1fr;
            }
        }
    }
}

i.planet {
    &:before {
        background: url(./image/planet.svg);
        content: " ";
        //padding-right: .5em;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }
}