.single-recipe {
    h1 {
        color: $green;
    }

    #main {
        color: #fff; 

        .wrapper {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        ul {
            list-style: none;
          }
          
          ul li::before {
            content: "\2022";  
            color: $green;
            font-weight: bold;
            display: inline-block; 
            width: 1em; 
            margin-left: -1em;
          }
    }

    h1 {
        text-align: left;
    
        &:before, &:after {
            display: none;
        }
    }    
    
    h2 {
        position: relative;

        &:after {
            content: "";
            position: relative;
            background: #fff;
            height: 2px;
            left: 0;
            margin: 0 auto;
            display: block;
        }
    }

    .pdt-lie {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        .wrapper {
            padding-top: 5em;
        }

        .grid70 {
            position: relative;
            text-align: left;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: flex-start;
            span {
                color: #fff;
                font-size: 1.25rem;
                font-weight: bold;
            }

            p {
                font-size: 2.875rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $green;
            }
        }
    }
}

.ie.single-recipe{
    .grid70{
        padding-left:2em !important;
        max-width:calc(70% - 2em) !important;
    }
}