.page-template-tpl-range-recipe #content {
    background-position: initial;

    p {
        color: $dark-green;
        font-size: 1.625rem;
    }
}


.recipe-content {
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    
    &:before {
        content:"";
        background: rgba(35,35,35,0.70);
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
    }

    h2 {
        font-size: 2.875rem;
        font-weight: bold;
        color: $green;
        text-transform: uppercase;
        position: relative;
        max-width: 370px;
        text-align: left;
    }

    img {
        position: relative;
        margin: 0 auto;
    }

    a {
        margin: 3em 0;
        padding: 1em 2.5em;
    }
}

#recipesArchive{
    // display:grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap:1em;
    background: rgba(35,35,35,0.70);
    text-align: center;
    padding-top: 20px;

    .wrapper {
        max-width: 960px;
    }

    h2 {
        color: #fff;
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 1.625rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        &:after {
            content: "";
            position: relative;
            width: 80%;
            background: #fff;
            height: 2px;
            bottom: -30px;
            margin: 0 auto;
            display: block;
        }
    }

    .recipe{
        display:none;

        a {
            display: block;
            background: #fff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.125rem;
            overflow: hidden;
            margin: 15px;
            text-align: left;

            &:hover {
                color: $dark-green;
            }
        }

        h3 {
            padding: 1em;
            margin: 0;
        }

    }
    .recipe:nth-of-type(-n+6){
        display:block;
    }
    .recipeActive{
        display:block;
    }

    #moreRecipes {
        background: none;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 820px) { 
    #recipesArchive { 
       .recipe a img { 
            width: 100%;
        }
    }
}

.ie .recipe-content {
    justify-content: flex-start !important;
}