.editor {
    padding-bottom: 60px;
    
    .wrapper {
        background: rgba(35,35,35,0.70);
        color: #fff;
        max-width: 860px;
        padding: 1.2em;
        a{
            color:$green;
            text-decoration: none;
         
            &:hover{
               transition:color .6s;
               color:lighten($green, 10%);
            }
         }
    }    
}

@media screen and (max-width: 1024px) {
    .editor {
        padding: 0 20px 60px 15px;
    }
}