.page-template-tpl-faq #content {
  padding-bottom: 60px;
}

.faq {
  max-width: 960px;
  width: calc(100% - 2em);
  margin: auto;
  padding: 0 1em;
}

button.accordion {
  width: 100%;
  background-color: $green;
  margin: 20px 0 0 0;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 1.625rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-green;
  cursor: pointer;
  transition: background-color 0.2s linear;
  position: relative;
}
  
button.accordion:after {
  border: solid $dark-green;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  content: "";
}
  
button.accordion.is-open:after {
  transform: rotate(225deg);
}
  
button.accordion:hover, button.accordion.is-open {
  background-color: $green;
}
  
.accordion-content {
  background: rgba(35,35,35,0.70);
  color: #fff;
  padding: 1.2em;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  a{
    color:$green;
    text-decoration: none;
 
    &:hover{
       transition:color .6s;
       color:lighten($green, 10%);
    }
 }
}

.page-template-tpl-faq .attachment-post-thumbnail {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
}