.map-farmer {

    .wrapper {
        background: none;
        max-width: 860px;
    }

    h2 {
        font-weight: bold; 
        font-size: 46px;
        line-height: 1.2em;
        color: $green;
        text-transform: uppercase;
    }

    p {
        font-size: 2.25rem;
        color: $dark-green;
    }

    .bg {
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-flow: row;
        padding: 2em;
    }
}

@media screen and (max-width: 800px) {
    .map-farmer {
        .bg {
            flex-flow: column;
        }
    } 
}

.ie .map-farmer{
    p{
        max-width:50%;
    }
}