.page-template-tpl-proof {
    .videoIE{
        display:none;
    }
    #content {
        position: relative;
        
        img.attachment-post-thumbnail {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
        }
    
        span.proof-number {
            color: $green;
            text-transform: uppercase;
            font-size: 1.625rem;
            display: block;
            margin-top: 2em;
        }

        h2 {
            margin: 0em 0;
        }
    }

    .fullGrid {
        justify-content: flex-end;
    }

    .grid70 {
        background: rgba(35,35,35,0.70);
        display: flex;  
    }

    .proof{
        border-left: 10px solid #fff;
        padding: 0 0 0 10px;
        margin: 50px 20px 0 0; 
        position: relative;

        li {
            width: 65px;
            height: 65px;
            margin: 0 auto;
            background: $dark_green;
            text-align: center;
            border-radius: 100%;
            position: relative;
            top: -1px;
            left: -50px;
            margin-bottom: 60px;
            cursor: pointer;

            &:hover, &.active {
                background: $green;
            }
        }

        a {
            color: #fff;
            font-weight: bold;
            font-size: 2.25rem;
            text-transform: uppercase;
            position: relative;
            line-height: 65px;
            display: block;
            text-decoration: none;

        }
    }
}

@media screen and (max-width: 820px) {

    .page-template-tpl-proof {
        .grid70 {
            background: rgba(35,35,35,0.70);
            display: flex; 
            flex-flow: column;

           .proof {
            border-left: 0;
            margin: 20px 0 0 0; 
            position: relative;
            display: inherit;

            &:before {
                content:'';
                position: absolute;
                top: 15px;
                background: #fff;
                width: 100%;
                height: 10px;
            }
                
                li {
                    width: 45px;
                    height: 45px;
                    background: $dark_green;
                    text-align: center;
                    border-radius: 100%;
                    margin-bottom: 0;
                    cursor: pointer;
                    display: inline-block;
                    left: initial;
                    top: initial;
                
                    &:hover, &.active {
                        background: $green;
                    }
                }

                

                a {
                    color: #fff;
                    font-weight: bold;
                    font-size: 2rem;
                    text-transform: uppercase;
                    position: relative;
                    line-height: 45px;
                    display: block;
                    text-decoration: none;
                }
           }

           .bloc-content {
                padding: 0 20px;
            }
        }
    }
}

.ie.page-template-tpl-proof{
    .video{
        display:none;
    }
    .videoIE{
        display:block;
    }
    .bloc-content{
        max-width: 70%;
    }
    
}