.proof-header {
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
    .grid20 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $dark_green;
        display: block;
        position: relative;
        margin-bottom: 20px;
        padding: 1em;
    }

    .round {
        content: "";
        background: #fff;
        height: 180px;
        width: 180px;
        border-radius: 100%;
        margin: 0 auto;
        position: relative;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .number {
        width: 65px;
        height: 65px;
        margin: 0 auto;
        background: $dark_green;
        color: #fff;
        font-weight: bold;
        font-size: 2.25rem;
        text-align: center;
        line-height: 65px;
        border-radius: 100%;
        position: relative;
        top: -15px;
    }

    span.title {
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 1;
        min-height: 55px;
        display: block;
        text-transform: uppercase;
    }

    .more {
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.5;
        display: block;
        position: relative;
        bottom: 5px;
        
        span {
            display: block;
        }

        i {
            border: solid $dark_green; border-width: 0 2px 2px 0;display: inline-block; padding: 10px; transform:rotate(45deg);
            display: inline-block;
        }
    }

    p {
        font-size: 0.875rem;
        line-height: 1.5;
        min-height: 75px;
    }
}