.home #content {
    padding: 0;
}

.slide-main-home {
    padding: 40px 0 0 0;
    a p {
        color: $dark_green;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1rem;
        strong {
            font-size: 1.5rem;
        }
    }
    a {
        position: relative;
        display: block;
        text-align: center;
        p {
            position: absolute;
            z-index: 2;
            line-height: 1.5em;
        }
    }
    .wrapper {
        max-width: 960px;
    }
    .fullGrid {
        align-items: center;
        background-image: url(./image/plus.svg);
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .demarche {
        position: absolute;
        z-index: 1;
        // text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ancre1 img {
        left: -20px;
        position: relative;
    }
    .ancre3 img {
        bottom: -20px;
        position: relative;
    }
}

.slide-main-home-de {
    .demarche {
        position: absolute;
        z-index: 1;
        // text-align: center;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -62%);
    }
    .ancre3 img,
    .ancre4 img {
        bottom: -40px;
        position: relative;
    }
}

@media screen and (min-width: 820px) and (max-width:1024px) {
    .demarche img {
        max-width: 80%;
    }
}

@media screen and (max-width: 820px) {
    .slide-main-home {
        .fullGrid {
            background-image: none;
        }
        .demarche {
            position: relative;
            order: 1;
            text-align: center;
            transform: translate(-50%, 0%);
        }
        .ancre1 {
            order: 2;
        }
        .ancre2 {
            order: 3;
        }
        .ancre3 {
            order: 4;
        }
        .ancre4 {
            order: 5;
        }
    }
}