.slide-video {
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 40px;

    .video {
        text-align: center;
        margin: 0 auto;
    }
    .videoIE{
        display:none;
    }
    p {
        margin: 0;
    }
}

.ie .slide-video{
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 40px;

    .video {
        display:none;
    }
    .videoIE{
        display:block;
        text-align: center;
        margin: 0 auto;
    }
    p {
        margin: 0;
    }
}

