.slide-second-home {

    .fullGrid {
        justify-content: flex-end;
    }

    .grid70 {
        background: rgba(35,35,35,0.70);
        display: flex; 
        flex-flow: nowrap;
    }

    .videoIE{
        display:none;
    }

    .home {
        border-left: 10px solid #fff;
        padding: 10px 0 0 10px;
        margin: 160px 50px 0 0; 
        position: relative;

        &:before {
            content:"";
            background: url(./image/nav-feuille.svg);
            width: 82px;
            height: 131px;
            position: absolute;
            top: -130px;
            left: -16px;
        }

        a {
            font-size: 0.75rem;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 80px;
            display: block;
            text-decoration: none;
            padding: 0;

            &:hover {
                color: $green;

                &:before {
                    background: $green;
                    transition: width 0.8s linear;
                    width: 100px;
                }
            }

            &:before {
                content: "";
                position: absolute;
                left: -45px;
                top: -20px;
                width: 60px;
                height: 10px;
                border-radius: 8px;
                background: #fff;
            }
        }
    }
    .menu-item.active a{
        color: $green;

        &:before {
            background: $green;
            transition: width 0.8s linear;
            width: 100px;
        }
    }
}


@media screen and (max-width: 820px) {

    .slide-second-home {
        .grid70 {
            background: rgba(35,35,35,0.70);
            display: flex; 
            flex-flow: column;

           .home {
            border-top: 10px solid #fff;
            border-left: 0;
            padding: 0;
            margin: 0; 
            position: relative;
            display: inherit;
            
            &::before {
                display: none;
            }

                a {
                    font-size: 0.75rem;
                    color: #fff;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    margin-bottom: 0;
                    display: block;
                    text-decoration: none;
                    padding: 40px 10px 0 10px;
        
                    &:hover {
                        color: $green;
        
                        &:before {
                            background: $green;
                            transition: none;
                        }
                    }
        
                    &:before {
                        content: "";
                        position: absolute;
                        left : 50%; 
                        transform : translateX(-50%);
                        top: -10px;
                        width: 10px;
                        height: 40px;
                        border-radius: 8px;
                        background: #fff;
                    }
                }
           }

           .bloc-content {
                padding: 0 20px;
            }
        }
    }
}

.ie .slide-second-home{
    .video{
        display:none;
    }
    .videoIE{
        display:block;
        position: relative;
        .play{
            position: absolute;
            top:50%;
            left:50%;
        }
        iframe{
            max-width: 100%;
        }
    }

    .fullGrid {
        justify-content: unset !important;
        width:calc(100% - 2em);
        max-width: $desktop_width;
        margin: auto;
    }

    .grid70 {
        background: rgba(35,35,35,0.70);
        display: flex; 
        flex-flow: unset !important;
        max-width:100%;
        padding-left:4em;
        width:calc(100% - 2em);
        
    }

    .bloc-content{
        max-width: 60%;
    }
}