.slider {
    max-height: 450px;
    background: rgba(35,35,35,0.82);
    position: relative;
    color: #fff;
    padding:4em 0;

    .wrapper {
       background: none;
       position: relative;
       max-width: 860px;
    }

  .container {
    position: relative;
  }
  
  .mySlides {
    display: none;
    justify-content: center;

  }

  .bloc-img {
    display: inline-block;
    margin: 0.5em;  
    cursor:pointer;
    img {
      display: block;
    }
    .span {
      display: block;
    }
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 0;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bloc-img {
    display: inline;
  }
  
  .active,
  .bloc-img:hover {
    opacity: 1;
  }

  .modal{
    text-align: center;
    color:#fff;
    padding:2em;
    img{
      max-width:100%;
      max-height:80%;
      margin:auto;
    }
    div{
      text-align: center;
      max-width:66%;
      margin:1em auto 0 auto;
    }
  }
}

@media screen and (max-width: 820px) {
  .slider {
    max-height: 250px;

    .mySlides {
      flex-flow: column;
      justify-content: center;  
    }

    .bloc-img {
      margin: 0 auto;
    }

    .prev,
    .next {
      top: 25%;
      font-size: 75px;
    }
  }
}

.ie .slider{
  .bloc-img {
    display: inline-block;
  }
}